@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

/* 'PT Serif', serif
#2C5F2D, #92C350, #ffffff, #000000, #F2F9F0 */

:root {
  --Thin: 100;
  --ExtraLight: 200;
  --Light: 300;
  --Regular: 400;
  --Medium: 500;
  --SemiBlod: 600;
  --Bold: 700;
  --ExtraBold: 800;
  --Black: 900;
  --primary: #2c5f2d;
  --secondary: #92c350;
  --pure-white: #ffffff;
  --black-text: #000000;
  --bg: #f2f9f0;
  --heading: "PT Serif", serif;
  --body: "PT Serif", serif;
}
/* --------------Typography------------------- */
@media (min-width: 1024px){
h1 {
  font-family: var(--heading);
  font-size: 50px !important;
  /* line-height: 60px; */
  font-weight: var(--Regular);
}

h2 {
  font-family: var(--heading);
  font-family: 42px !important;
  /* line-height: 38px; */
  font-weight: var(--Regular);
}

h3 {
  font-family: var(--heading);
  font-size: 38px !important;
  /* line-height: 34px; */
  font-weight: var(--Regular);
}

h4 {
  font-family: var(--heading);
  font-size: 32px !important;
  /* line-height: 28px; */
  font-weight: var(--Regular);
}

h5 {
  font-family: var(--heading);
  font-size: 25px !important;
  /* line-height: 26px; */
  font-weight: var(--Regular);
}

h6 {
  font-family: var(--heading);
  font-size: 20px !important;
  /* line-height: 26px; */
  font-weight: var(--Regular);
}
}

button {
  font-family: var(--body);
  font-weight: var(--Medium);
  background-color: var(--primary) !important;
  color: var(--pure-white);
  border: 0px solid var(--primary) !important;
  border-radius: 5px !important;
  padding: 8px 0px !important;
  text-transform: uppercase !important;
}

form button {
  font-family: var(--body) !important;
  font-weight: var(--Medium) !important;
  background-color: var(--primary) !important;
  color: var(--pure-white);
  border: 1px solid var(--primary) !important;
  border-radius: 5px!important;
  padding: 8px 40px !important;
  text-transform: uppercase !important;
}

form button:hover {
  font-family: var(--body);
  font-weight: var(--Medium);
  color: var(--primary) !important;
  background-color: transparent !important;
  border: 1px solid var(--primary) !important;
}

button > a {
  color: var(--pure-white) !important;
  padding: 8px 20px !important;
  border-radius: 5px;
  border: 1px solid var(--primary);
}

button:hover, button>a:hover {
  background-color: transparent !important;
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}

p {
  font-family: var(--body);
  font-weight: var(--Regular);
  font-size: 16px;
  line-height: 26px;
  color: var(--black-text);
}

input,
textarea {
  font-family: var(--body);
  border: 1px solid #707070 !important;
  color: var(--black-text);
  font-size: 18px !important;
  font-weight: var(--Regular) !important;
  border-radius: 12px !important;
}
input:focus-visible {
    outline-color: var(--primary) !important;
    box-shadow: none !important;
}
input[type=checkbox]{
  border: 1px solid black;
  border-radius: 2px !important;
  box-shadow: none  !important;
}
a {
  font-family: var(--body);
  font-weight: var(--Regular);
  font-size: 16px;
  color: var(--black-text) !important;
  text-decoration: none;
}
/* ------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body) !important;
}

::-webkit-scrollbar {
  width: 8px;
}
/* Track */

::-webkit-scrollbar-track {
  background: transparent !important;
}
/* Handle */

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 0px;
  transition: 0.3s all ease-in-out;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(44, 95, 45, .3);
  border-radius: 0px;
  transition: 0.3s all ease-in-out;
}
/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgba(44, 95, 45, .4);
}
.row {
  margin: 0 !important;
  padding: 0 !important;
}
.container-mid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1400px){
  .container-mid {
    max-width: 1440px !important;
  }
}
.body-text{
  font-size: 26px !important;
  line-height: 34px !important;
}
@media(max-width: 767px){
  .body-text{
    font-size: 20px !important;
    line-height: 28px !important;
  }
}
.button-secondary-link{
  background-color: var(--secondary) !important;
  color: var(--pure-white) !important;
  background-color: var(--secondary) !important;
  border: 1px solid var(--secondary) !important;
  border-radius: 5px;
}
.button-secondary{
  border: 0px !important;
  background-color: transparent !important;
}
.button-secondary:hover{
  border: 0px !important;
  color: var(--secondary) !important;
}
.button-secondary-link:hover{
  background-color: transparent !important;
  color: var(--secondary) !important;
  border: 1px solid var(--secondary) !important;
}
/* -------------------------------------signup Loginpage--------------------------------- */
.form-col {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.form-col h5{
  font-weight: var(--Regular) !important;
}
.form-col form{
  width: 350px !important;
}
@media (max-width:480px){
  .form-col form{
    width: 100% !important;
  }
}
.form-col form input[type=checkbox]{
  min-width: auto !important;
}
.form-col form input[type=checkbox]{
  min-width: auto !important;
}
@media (max-width: 992px) {
  .img-col {
      display: none;
  }
  .login-col {
      background: url('../Assets/flower\ shop.jpg'), rgba(255, 255, 255, 0.8);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 20px;
      padding-bottom: 20px;
      background-blend-mode: overlay;
  }
  .signup-col {
      background: url('../Assets/female-teacher-showing-okay-gesture-explaining-ma-2022-12-16-08-30-20-utc.jpg'), rgba(255, 255, 255, 0.8);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 20px;
      padding-bottom: 20px;
      background-blend-mode: overlay;
  }
}

/* --------------------------navbar-------------------------- */
.navbar-brand {
  font-size: 24px !important;
}
#navbar .menu li{
  margin: 0 20px;
}
#navbar ul{
  margin-bottom: 0;
}
#navbar li a{
  font-weight: var(--Medium) !important;
  text-transform: capitalize;
  font-size: 18px !important;
}
#navbar li a:hover{
  color: var(--primary) !important;
}
#navbar .btns li .btn{
  margin-left: 50px;
  background-color: var(--primary);
  color: var(--pure-white) !important;
  padding: 6px 16px !important;
  border: 1px solid var(--primary);
}
#navbar .btns li .btn:hover{
  background-color: transparent;
  color: var(--primary) !important;
}
#navbar .btns{
  list-style-type: none;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.navbar-toggler{
  background-color: transparent !important;
  border: 0px !important;
  box-shadow: none !important;
}
.navbar-toggler span{
  color: var(--primary) !important;
}
@media(max-width: 991px){
  #navbar .btns, #navbar .menu{
    margin-top: 40px !important;
  }
}
/* -----------------------------------------Footer---------------------------- */
.footer{
  padding: 40px 0;
  background-color: rgba(146, 195, 80, 0.5);
}
.footer h1, .footer h2{
  font-weight: var(--Bold) !important;
  text-align: center;
  color: var(--primary);
}
/* ---------------------homepage------------------------- */
.home-hero{
  margin-top: 80px;
}
.home-hero .bg-text{
  padding: 40px 0;
}
.home-hero .bg-text:before{
  content: "";
  width: 100%;
  height: 150%;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
@media(max-width: 1024px){
  .home-hero .bg-text:before{
    height: 100% !important;
  }
}

.howItWorks {
  margin: 120px 0;
}
@media(max-width: 992px){
  .howItWorks {
    margin: 80px 0;
  }
}
.howItWorks .icon-box{
  padding: 5px;
}
.howItWorks .icon-box ._img img{
  width: 180px !important;
}
.howItWorks .icon-box .content h5{
  border-bottom: 2px solid var(--secondary);
  margin: 30px 0 14px 0;
}

.headingTxt{
  background-color: var(--bg);

}

.Learning{
  margin: 120px 0;
  padding: 40px 0;
  position: relative;

}
@media(max-width: 992px){
  .Learning{
    margin: 80px 0;
  }
}

.Learning::before{
  content: "";
  width: 55%;
  height: 100%;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 8px -8px 0px 0px var(--secondary);
}
@media (max-width: 767px){
  .Learning::before{
  width: 100% !important;
  }
  .Learning .row{
    flex-direction: column-reverse;
  }
}

.onlineClasses{
  background: var(--secondary);
  border-radius: 37px;
  padding: 30px 20px;
}
@media (max-width: 1024px){
  .onlineClasses{
    padding: 20px 10px;
  }
}

.businessClasses{
  margin: 120px 0;
  padding: 40px 0;
  position: relative;
}
@media(max-width: 992px){
  .businessClasses{
    margin: 80px 0;
  }
}
.businessClasses::before{
  content: "";
  width: 55%;
  height: 100%;
  background-color: var(--primary);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: -8px -8px 0px 0px var(--secondary);
}
@media (max-width: 767px){
  .businessClasses::before{
  width: 100% !important;
  }
}

.equation-digram h1{
  color: var(--primary);
}
.equation-box>div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.equation-box ._equation-item{
  background-color: var(--primary);
  padding: 20px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
}
.last-box{
  background-color: var(--primary);
  border-radius: 200px;
  padding: 20px;
}
.equation-box .eq-item{
  background-color: var(--secondary);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100% !important;
}
.equation-box .eq-item h5>small{
  font-size: 14px !important;
}
@media (max-width: 1200px){
  .equation-box ._equation-item{
    width: 230px;
    height: 230px;
  }
  .equation-box .eq-item h5{
    font-size: 20px !important;
  }
  .equation-box .operators{
    font-size: 42px !important;
    color: var(--pure-white);
    line-height: 28px;
  }
}
.equation-box::before{
content: "";
width: 90%;
height: 80px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: var(--primary);
z-index: -1;
}
@media(max-width: 991px){
  .equation-box::before{
    transform: rotate(90deg);
    content: "";
width: 80px;
height: 90%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: var(--primary);
z-index: -1;
  } 
}
.equation-box .eq-item ul{
  list-style-type: none;
  text-align: center;
  color: var(--primary);
  font-size: 20px;
  padding: 0;
}
.equation-box .operators{
  font-size: 60px;
  color: var(--pure-white);
  line-height: 28px;
}
.equation-box>:last-child h5{
  position: absolute;
  color: var(--primary);
  text-align: center;
  top: 107%;
}

.success{
  margin: 140px 0;
  padding: 40px 0;
  background-color: var(--bg);
}
@media(max-width: 992px){
  .success{
    margin: 80px 0;
  }
}
.success h2{
  font-weight: var(--Bold) !important;
}
.success ul{
  list-style-type: none;
  font-size: 24px;
}
.success ul li{
  position: relative;
}
.success ul li:before{
  content: "";
  background: url('../Assets/instagram-check-mark.svg');
  width: 15px;
  height:15px;
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
}

/* ***************************Feature Page*************************** */
.features-hero{
  margin-top: 80px;
}
.features-success h2{
  font-weight: var(--Bold) !important;
}
.features-hero .row{
  background: url('../Assets/english\ teacher-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features-hero .row>:nth-child(2){
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px 20px;
}
.features-success{
  margin: 120px 0;
}
@media(max-width: 992px){
  .features-success{
    margin: 80px 0;
  }
}
@media(max-width: 767px){
  .features-success .row{
    flex-direction: column-reverse;
  }
}
.create-school h2{
  font-weight: var(--Bold) !important;
}
.features-cards{
  margin: 120px 0;
}
@media(max-width:1024px){
  .features-cards{
    margin: 80px 0;
  }
}
.features-cards .card-item{
  background: var(--bg);
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.features-cards .card-item h5{
  border-bottom: 2px solid var(--secondary);
  margin-bottom: 20px;
}
.features-cards .card-item p{
  font-size: 20px;
  line-height: 28px;
}

.feature-insertQuote{
  margin: 120px 0;
  padding: 40px 0;
  position: relative;
}
@media(max-width: 992px){
  .feature-insertQuote{
    margin: 80px 0;
  }
}
.feature-insertQuote::before{
  content: "";
  width: 55%;
  height: 100%;
  background-color: var(--primary);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 8px -8px 0px 0px var(--secondary);
}
@media (max-width: 767px){
  .feature-insertQuote::before{
  width: 100% !important;
  }
}

.features-customize h2{
  font-weight: var(--Bold);
}

.features-support{
  margin: 120px 0;
  padding: 40px 0;
}
@media(max-width: 992px){
  .features-support{
    margin: 80px 0;
  }
}
.features-support h2{
  font-weight: var(--Bold);
}
.features-support:before{
  content: "";
  width: 65%;
  height: 100%;
  background-color: var(--bg);
  border-radius: 0 2rem 2rem 0px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
@media(max-width: 767px){
  .features-support:before{
    width: 100%;
  }
  .features-support .row{
    flex-direction: column-reverse;
  }
}
.features-support .row h5{
  transform: translateY(24px);
}
.features-support .row img{
  border-radius: 2rem;
}
.features-learning{
  padding: 40px;
}
.features-learning::before{
  content: "";
  width: 55%;
  height: 100%;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: -8px -8px 0px 0px var(--secondary);
}
@media (max-width: 767px){
  .features-learning::before{
  width: 100% !important;
  }
  .features-learning .row{
    flex-direction: column-reverse;
  }
}

.features-GrowBussiness{
  margin: 120px 0;
}
@media (max-width: 992px){
  .features-GrowBussiness{
    margin: 80px 0;
  }
}
.features-GrowBussiness h3{
  font-weight: var(--Bold);
}

.features-Manage{
  margin-bottom: 120px;
}
@media (max-width: 992px){
  .features-Manage{
    margin-bottom: 80px;
  }
}
.features-Manage h3{
  font-weight: var(--Bold);
}